.footer {
    
    padding: 4rem 0;
    color: #FFF;
    text-transform: uppercase;
    
    background-color: $mainGrey;

    @mixin atSmall {
        padding: 4rem 0;
    }

    &__copy {
        text-align: center;
        font-weight: 400;

        @mixin atSmall2 {
            float: left;
            
        }
    }

    &__designed {
        text-align: center;
        font-weight: 400;
        margin-top: 2rem;
        
        @mixin atSmall2 {
            float: right;
            margin-top: 0;
        }
    }

    span {
        color: $mainOrange;
    }
}