.menu {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;

    z-index: 334;

    background-color: rgba($mainGrey, 0.9);


    &__box {
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%,-28%);
        text-align: center;
    }

    &__list {
        
        list-style: none;
        font-size: 2.5rem;
        text-transform: uppercase;
       
        &:last-of-type {
            border-bottom: 2px solid $mainOrange;
            
        }
    }

    &__item {
        margin-bottom: 2.7rem;

       
    }

    &__link {
        text-decoration: none;
        color: #FFF;
        transition: all 0.3s;

      
       

        &:hover {
            color: $mainOrange;
        }
    }

    &__icon {   
        font-size: 3.5rem;
        letter-spacing: 1rem;
        transition: all .2s;
        margin-top: 2.7rem;
        
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
        }
    }

    &__close {
        position: absolute;
        color: #FFF;
        right: 21.5%;
        top: 3%;
        font-size: 3rem;
        font-weight: 300;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            color: $mainOrange;

        }

    }
}

