.newsletter {
    position: relative;
    padding: 8rem 0;
    width: 100%;
    height: 100%;

    background-image: url('/assets/images/newsletter-image-large.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
    

    &__box {
        
    }   

    &__input {
        padding: .8rem 2rem;
        border-radius: .7rem;
        margin-right: 2rem;
        outline: none;
        border: none;
        font-size: 1.6rem;
        margin-left: 45rem;
        width: 30%;
        color: $greyLight;
        
    }

}