.site-header {
    padding: 2rem 0;
    position: absolute;
    z-index: 2;
    width: 100%;

    @mixin atMedium {
        padding: 4.5rem 0;
    }


    &__logo {
        float: left;
        cursor: pointer;
        
    }

    &__menu-text {
        float: right;
        font-size: 1.6rem;
        color: #FFF;
        position: relative;
        margin-right: 2rem;

        @mixin atMedium2 {
            margin-right: 0;
        }
        
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: -2.5rem;
        z-index: 10;
        display: inline-block;
        cursor: pointer;

        &__top {
            position: absolute;
            width: 20px;
            height: 3px;
            top: 0;
            left: 0;
            background-color: #FFF;
        }

        &__middle {
            position: absolute;
            width: 20px;
            height: 3px;
            top: 8px;
            left: 0;
            background-color: #FFF;
        }

        &__bottom {
            position: absolute;
            width: 20px;
            height: 3px;
            top: 16px;
            left: 0;
            background-color: #FFF;
        }
    }

}