.testimonials {
    padding: 3.1rem 0;
    position: relative;
    background-image: none;
    background-color: $mainGrey;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;

    @mixin atSmall2 {
        background-image: url('/assets/images/testimonials-large-image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 6.3rem 0;
    }
    

    &__box {
        @mixin centerAll
        
    }

    &__photo {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__text {
        font-size: 1.5rem;
        font-style: italic;
        line-height: 2rem;
        margin-top: 2rem;

        @mixin atMedium2 {
            font-size: 2rem;
            font-style: italic;
            line-height: 3rem;
            margin-top: 2rem;
        }
    }

    &__name {
        font-size: 1.4rem;
        margin-top: 3rem;

        @mixin atMedium2 {
            font-size: 1.6rem;
            margin-top: 5rem;
        }
    }
}