.section-works {
    margin-bottom: 5rem;
    padding: 5rem 0;

    @mixin atSmall {
        padding: 8rem 0;
        
    }
}

.works {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    @mixin atSmall {
        flex-direction: row;
    }
    

    &__flex-container{
        margin: 0 auto;
        width: 75%;
        position: relative;
        

        @mixin atSmall {
            width: 100%;
            flex-basis: 31.7%;
        }
      
    }

    &__image {
        border-radius: 1rem;
        width: 100%;
        margin-bottom: 2rem;
        cursor: pointer;
        float: left;
        overflow: hidden;
        transition: all .3s ease-in-out;

    }

    span {
        z-index: 10;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 93.2%;
        border-radius: 1rem;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        
        background-color: rgba($mainOrange, 0.8);
        
        
        &:hover{
            opacity: 1;
           
        }
        
        &:hover p{
            opacity: 1;
            transform: translateY(0);
        }

        &:hover a {
            opacity: 1;
            transform: translateY(0);
            visibility: initial;
        }

    }

    &__item-box {
        color: #FFF;
        font-weight: 300;
        width: 100%;
        text-align: center;
        
        
        @mixin centerAll

    }

    &__img-title {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &__img-text {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 4rem;
        transform: translateY(10px);
        transition: all 0.2s 0.4s;
        opacity: 0;
    }
}

